-
    var skills = [
        "HTML",
        "Twig",
        "Pug",
        "Less",
        "Sass",
        "JQuery",
        "JS / ES6 +",
        "React",
        "Redux",
        "Thunk",
        "TypeScript",
        "Jest",
        "GraphQL",
        "AMPS",
        "Gulp",
        "Webpack",
        "EsLint",
        "Prettier",
      ];

section.about
    .container
        h2 Всем привет!
        p
            | С 12 лет я мечтал быть программистом и творить, что-то интересное. Я понимал, что это очень сложно - но меня это не пугало! Я изучал сначала Basic, Pascal и потом Delphi. Но жизнь так сложилась, что мой жизненный путь пошел другим путём. И спустя некоторое время я снова решил заниматься любимым делом. В интернете много доступной информации и я стал изучать Front-end разработку.
        p
            | Сейчас я занимаюсь разработкой Front-end приложений, вёрсткой и обслуживанием сайтов.
        p
            | Мне нравится превращать сложные задачи в простые, красивые и интуитивно понятные конструкции.
        p Когда я не пишу код, я играю на ps5, жарю мясо или уделяю время семье.
        p C 2018 по 2021 год я работал в компании "EvoPlay".
        p После этого я устроился в компанию "Luxoft".
        p Мне нравятся интересные задачи и находить интересные решения для них
        p В компании я стараюсь проявлять свои софт-скилы
        p Провожу доклады и стараюсь быть нужным.
        p Имею опыт работы с:
        ul.skills
            each skill in skills
              li= skill
        p Паралельно изучаю новые технологии и стараюсь ими делится с другими.
        h2.facts-header Случайные факты:
        ul.facts(data-facts='')
        a.download(href='./cv/CV_Holovko_Ivan.pdf' download='CV_Holovko_Ivan.pdf')
            span
            span
            span
            span
            span.star-blink
                div
            |                     скачать резюме

        p В хедере у нас есть плюсик
        p При наведении на него У нас есть пункт Bulk IOI
        p Нажав на него У нас открываются попап
        p Папа очень похож на баскет импорт - Но на самом деле он улучшенный.
        p сверху над таблицей у нас есть кнопки файл импорт, добавить новую строку, удалить, вставить данные из буфера обмена и удалить все строки.
        p Поле ввода аккаунт для всех rows и имя Баскет импорта.
        p Нажав правой кнопкой мышки на Grid у нас появится контекстное меню
        p если Grid пустой  то там будет только один пункт add new
        p Нажав на этот пункт у нас Появится новый row
        p Точно такой же функционал У нас есть над таблицей в виде плюсика
        p В добавленных строках уже по умолчанию есть заполненные поля
        p IOIType Содержит натурал или нон-натурал
        p Symbol и Account валидируются и их свойства можно вводить маленькими и большими буквами
        p Side Содержит Buy & sell Нужно ли сюда добавлять ещё один пункт?
        p ioiQty Может быть только цифрой! Если значение ioiQty  минусовое тогда side меняется на sell а если значение равно 0 то ячейка имеет варнинг
        p ioiPrice Можно ли бриться цифрой или МКТ
        p Comments Свободное поле которое может быть любой текст
        p QualifierCode Содержит QualifierCodes Зависимости от выбранного code мы можем редактировать остальные поля.
        p В Timestamp Я добавил регулярное выражение Если значение не соответствует правильному Формату времени тогда будет вставлено текущее время.
        p
        p Вернёмся в контекстному меню
        p Если у нас есть выделенные строки Мы можем Изменить IOIType и QualifierCode выбраных строк.
        p А также мы можем удалить данные строки экспортировать таблицу в Excel файл
        p Над таблицей у нас есть фильтры нажав на которые можно фильтровать строки
        p
        p Давайте удалим все строки И займёмся импортом данных
        p Нажав на скрепку мы можем импортировать файл
        p А если мы перетащим на наш грид Несколько файлов эти данные тоже импортируются
        p Буфер обмена Здесь тоже работает
        p Я сделал фильтр загружаемых данных. Если приходит известное значение я его сразу подставляю в нужные ячейки. К к примеру мы знаем что натурал находится в колонке ioiType или H3 находится в колонке QualifierCode. Дальше мы знаем что цифры могут быть только в ioiQty и в ioiPrice. Остальные данные подставляются в свободные ячейки