-
    var skills = [
        "HTML",
        "Twig",
        "Pug",
        "CSS",
        "Less",
        "Sass",
        "JS / ES6 +",
        "JQuery",
        "React",
        "Redux",
        "Thunk",
        "Redux Toolkit Query",
        "TypeScript",
        "Jest",
        "GraphQL",
        "AMPS",
        "Gulp",
        "Webpack",
        "EsLint",
        "Prettier",
        "Bootstrap",
        "MaterialUI",
    ];

section.about
    .container
        h2
        p.text
        ul.skills
            each skill in skills
              li= skill
        p.description
        h2.facts-header
        ul.facts(data-facts='')
        a.download(href='./cv/CV_Holovko_Ivan.pdf' download='CV_Holovko_Ivan.pdf')
            span
            span
            span
            span
            span.star-blink
                div
            b
