-
    var htmlSkills = [
        "HTML",
        "Accessibility",
        "Bootstrap",
        "Material Ui",
        "Mantine Ui",
        "Semantic Ui",
        "Ant Design Ui",
        "Twig",
        "Pug",
    ];
    var cssSkills = [
        "Css",
        "Scss",
        "Sass",
        "Less",
        "Tailwind Css",
    ];
    var JSSkills = [
        "JavaScript",
        "JQuery",
        "Node.js",
        "React",
        "Redux",
        "Thunk",
        "Redux Toolkit Query",
        "Zustand",
        "Tanstack Query & Table",
        "TypeScript",
        "Next.js",
        "AMPS",
        "Lodash",
        "Ramda.js",
        "AGGrid",
        "GraphQL",
        "Socket.io",
    ];
    var otherSkills = [
        "Vite",
        "Webpack",
        "GraphQL",
        "Jest",
        "Gulp",
        "EsLint",
        "Prettier",
    ];

section.about
    .container
        h2
        p.text
        div.skillsWrapper
            div.box.asfs
                div.icon.html
                ul.skills
                    each skill in htmlSkills
                        li= skill
            div.box.asfe
                div.icon.css
                ul.skills
                    each skill in cssSkills
                        li= skill
            div.box.asfs
                div.icon.js
                ul.skills
                    each skill in JSSkills
                        li= skill
            div.box.asfe
                div.icon.other
                    div
                ul.skills
                    each skill in otherSkills
                        li= skill
        p.description
        h2.facts-header
        ul.facts(data-facts='')
        a.download(href='./cv/CV_Holovko_Ivan.pdf' download='CV_Holovko_Ivan.pdf')
            span
            span
            span
            span
            span.star-blink
                div
            b
