include ../btn

section.work.english-learn
    .container
        h2#english English learn
        p
        br
        p
        // <p>На данный момент, я обратил внимание, что слова юзера появляются после перезагрузки страницы</p>
        +btn('result', 'https://learn-english-card.netlify.app/')
        +btn('code', 'https://github.com/IvanNavin/EnglishLearn/', 'letter-spacing: 38px')