include ../btn

section.work.RPG
    .container
        h2#rpg RPG Online Game
        p
        +btn('result', 'https://r-p-g-game.herokuapp.com/')
        +btn('code', 'https://github.com/IvanNavin/js-pro-game', 'letter-spacing: 38px')