section.performances
    h2 Мои доклады
    h3.nav-menu
        button(data-href='regexp')
            span Не бойтесь регулярных выражений
        button(data-href='accessibility')
            span Разработка доступных интерфейсов️