include ../btn

section.work.thanos-effect
    .container
        h2#thanos Thanos Effect
        p
        +btn('result', 'https://destructurizator.netlify.app/')
        +btn('code', 'https://github.com/IvanNavin/destructurizator', 'letter-spacing: 38px')