section.report.accessibility
    h2#accessibility Разработка доступных интерфейсов
    h2 Ссылка на доклад
    a(href='https://developing-accessible-interfaces.netlify.app/' target='_blank') https://developing-accessible-interfaces.netlify.app/
