include ../btn

section.work.pokedex
    .container
        h2#pokedex Pokedex
        p
        br
        ul(classname='{s.ul}')
            li React
            li Hook
            li HookRouter
            li Redux
            li Webpack
            li TypeScript
            li ESLint
            li Axios
            li Jest
            li SSR
            li Hapi
        p
        br
        br
        p
        br#examplePokedex
        br
        br
        p
        br
        +btn('result', 'https://pokedex777.vercel.app/')
        +btn('code', 'https://github.com/IvanNavin/Pokedex777', 'letter-spacing: 38px')