section.loader
    .preloader
        .preloader__ring
            .preloader__sector L
            .preloader__sector o
            .preloader__sector a
            .preloader__sector d
            .preloader__sector i
            .preloader__sector n
            .preloader__sector g
            .preloader__sector .
            .preloader__sector .
            .preloader__sector .
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
        .preloader__ring
            .preloader__sector L
            .preloader__sector o
            .preloader__sector a
            .preloader__sector d
            .preloader__sector i
            .preloader__sector n
            .preloader__sector g
            .preloader__sector .
            .preloader__sector .
            .preloader__sector .
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
            .preloader__sector
    .progress
        | Подождите немного, идёт загрузка:
        span(data-progress='') 0%