section.work.ganttChart
    .container
        h2#ganttChart Gantt Chart
        p
        +btn('result', 'https://ganttchart777.netlify.app/')
        +btn('code', 'https://github.com/IvanNavin/GanttChart', 'letter-spacing: 38px')