@font-face {
    font-family: 'RussoOneRegular';
    src: url('../fonts/RussoOneRegular.eot');
    src: url('../fonts/RussoOneRegular.eot') format('embedded-opentype'),
    url('../fonts/RussoOneRegular.woff2') format('woff2'),
    url('../fonts/RussoOneRegular.woff') format('woff'),
    url('../fonts/RussoOneRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.eot');
    src: url('../fonts/Roboto.eot') format('embedded-opentype'),
    url('../fonts/Roboto.woff2') format('woff2'),
    url('../fonts/Roboto.woff') format('woff'),
    url('../fonts/Roboto.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'RussoOneRegular', sans-serif;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: #000;
    color: #fff;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: 0 0 0 60px #000 inset !important;
    caret-color: #fff;
    background-color: #000 !important;
}

/* Scrollbar style */
body::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #262626;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ea0f1e;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
}

.loader.loader,
.main-page,
.about,
.my-works,
.pokedex,
.contacts,
.portfolio,
.RPG,
.thanos-effect,
.english-learn,
.performances,
.regexp,
.accessibility {
    display: none;
}

[data-nav-wrapper="loader"] .loader {
    display: flex;
}
[data-nav-wrapper="main-page"] .main-page,
[data-nav-wrapper="about"] .about,
[data-nav-wrapper="my-works"] .my-works,
[data-nav-wrapper="pokedex"] .pokedex,
[data-nav-wrapper="thanos-effect"] .thanos-effect,
[data-nav-wrapper="english-learn"] .english-learn,
[data-nav-wrapper="portfolio"] .portfolio,
[data-nav-wrapper="RPG"] .RPG,
[data-nav-wrapper="contacts"] .contacts,
[data-nav-wrapper="performances"] .performances,
[data-nav-wrapper="regexp"] .regexp,
[data-nav-wrapper="accessibility"] .accessibility {
    display: block;
}

section {
    padding: 32px;
}

.mobile-platform section {
    padding: 16px;
}

h2 {
    font-size: 36px;
    margin: 23px 0 40px;
}

p, ul, li, input[type="text"], textarea {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 100%;
}

@media screen and (max-width: 400px) {
    h2:first-child {
        margin-right: 100px;
    }
}


.back-button {
    background: transparent;
    border: none;
    outline: transparent;
    color: white;
    font-size: 16px;
    position: fixed;
    top: 5px;
    right: 5px;
    height: 100px !important;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}

.back-button p {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    font-family: 'RussoOneRegular', sans-serif;
}

.back-button.hover {
    cursor: pointer;
}

[data-nav-wrapper="main-page"] .back-button,
[data-nav-wrapper="loader"] .back-button {
    display: none;
}

.hint {
    font-size: 12px;
    color: gray;
}

a {
    color: white;
    text-decoration: none;
    transition: margin ease-in-out .2s;
}

.main-page a:hover,
.performances a:hover {
    margin-left: 10px;
}

/* Main Page */

.main-page {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0 !important;
}

.main-page #fluid {
    width: 100%;
    height: 100%;
}

.mobile-platform .main-page #fluid {
    pointer-events: none;
}

.main-page img {
    width: 50%;
    max-width: 666px;
    max-height: 100vh;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: fadeInWithScale 1s forwards;
    transform-origin: bottom right;
    pointer-events: none;
    user-select: none;
}

body.mobile-platform .main-page img {
    width: 100%;
    right: -37%;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 114px;
    transform: translateY(-50%);
}

body.mobile-platform .nav-menu {
    left: 40px;
}

.nav-menu button {
    display: flex;
    align-self: flex-start;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    text-align: left;
    font-size: 8vw;
    overflow: hidden;
    outline: transparent;
}

.nav-menu button span {
    opacity: 0;
    position: relative;
    transition: margin ease-in-out .4s, opacity ease-in-out .4s;
    white-space: nowrap;
}

.nav-menu button span:hover {
    margin-left: 40px;
}

.main-page .nav-menu button span::before {
    content: attr(data-name-button)
}

.main-page .nav-menu button:hover span::before,
.tapped .nav-menu button span::before {
    content: attr(data-second-name-button);
}

.nav-menu button:first-child span {
    animation: slideText 1s forwards;
}

.nav-menu button:nth-child(2) span {
    animation: slideText 1s forwards 1s;
}

.nav-menu button:nth-child(3) span {
    animation: slideText 1s forwards 1.5s;
}

.nav-menu button:nth-child(4) span {
    animation: slideText 1s forwards 2s;
}

.nav-menu button:first-child {
    color: #fff;
}

.nav-menu button:not(:first-child) {
    color: #ea0f1e;
}

.tap-indication {
    display: block;
    text-align: center;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 4%;
    font-size: 3.6vmin;
    animation: bounce .5s infinite alternate;
}

.tap-indication:before {
    content: 'slide';
}

.mobile-platform .tap-indication:before {
    content: 'tap';
}

.main-page .help {
    position: absolute;
    color: #313131;
    bottom: 5px;
    left: 5px;
    font-size: 8px;
}

.mobile-platform .main-page .help {
    display: none;
}

/* About page */
.skills {
    display: inline-flex;
    flex-wrap: wrap;
}

.skills li {
    margin-left: 22px;
}

.facts-header {
    text-align: right;
    margin-top: 48px;
}

.facts {
    text-align: right;
    list-style: none;
}

/* My works page*/

.my-works .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    position: relative;
    transition: opacity .3s ease-out;
    max-width: 1200px;
    margin: 0 auto;
}

.my-works .item {
    display: block;
    width: 50%;
    position: relative;
    padding: 10px;
}

@media screen and (max-width: 800px) {
    .my-works .item {
        width: 100%;
    }
}

@media screen and (min-width: 1100px) {
    .my-works .item {
        width: 33%;
    }
}

.my-works .screen {
    width: 100%;
    cursor: pointer;
    outline: transparent;
}

.my-works .item:hover .tags::before,
.my-works .item:hover .img {
    opacity: 1;
    transform: translate3d(0,0,0);
}

.my-works .item:hover .tags li {
    animation: .4s delay var(--delay) forwards;
}

.my-works h5 {
    padding-top: 4px;
    text-align: center;
}

.my-works .screen {
    position: relative;
    display: block;
    z-index: 1;
    box-shadow: 8px 8px 0 rgba(255, 255, 255, 0.15);
    overflow: hidden;
}

.my-works .bar {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ddd;
    width: 100%;
    color: #6a6a6a;
    z-index: 10;
}

.my-works .bar h2 {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -.5px;
    color: #8a8a8a;
}

.my-works .bar i {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
}

.my-works .bar i::before,
.my-works .bar i::after {
    content: " ";
    display: inline-block;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 0;
    border-radius: 50%;
}

.my-works .bar i::before {
    left: 16px;
    background-color: #ffbd2e;
}

.my-works .bar i::after {
    content: " ";
    left: 32px;
    background-color: #28ca41;
    top: 0;
}

.my-works .main {
    background-size: cover;
    padding-top: 58%;
    position: relative;
    background-position: center center;
    display: block;
    width: 100%;
    border-radius: 0;
    transform-style: flat;
}

.my-works .main::before,
.my-works .main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.my-works .main::before {
    z-index: 2;
    box-shadow: 0 0 50px rgba(0,0,0,.75) inset;
}

.my-works .main::after {
    z-index: 0;
    background-image: url('../img/monk.png') !important;
    background-color: #333;
    background-blend-mode: initial;
    background-size: auto 75px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    transform: translate3d(0,0,0);
    -webkit-filter: grayscale(.75);
    filter: grayscale(.75);
}

.my-works .back {
    z-index: 1;
}

.my-works .main img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.my-works picture.img {
    left: -2px;
    width: calc(100% + 4px);
    border-radius: 0;
    opacity: 0;
    z-index: 3;
    overflow: hidden;
    -moz-transform: translate3d(0,-100%,0);
    -ms-transform: translate3d(0,-100%,0);
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    -moz-transform-style: flat;
    -webkit-transform-style: flat;
    transform-style: flat;
    -moz-transition: opacity .15s ease-out,-moz-transform .25s cubic-bezier(0,.75,0,1);
    -o-transition: opacity .15s ease-out,-o-transform .25s cubic-bezier(0,.75,0,1);
    -webkit-transition: opacity .15s ease-out,-webkit-transform .25s cubic-bezier(0,.75,0,1);
    transition: opacity .15s ease-out,transform .25s cubic-bezier(0,.75,0,1);
    top: 0;
    height: 100%;
    position: absolute;
    display: block;
}

.my-works .img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10,10,10,.7);
    background-blend-mode: luminosity;
    z-index: 1;
}

.my-works .tags {
    opacity: 1;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    display: block;
}

.my-works .tags::before {
    content: "more...";
    display: block;
    position: absolute;
    bottom: 20px;
    font-weight: 400;
    width: 60px;
    left: calc(50% - 30px);
    padding: 0 .5em;
    font-size: .75em;
    opacity: 0;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px 0 rgba(0,0,0,.25);
    background-color: #313131;
    color: #fff;
    text-shadow: -1px -1px 0 #3f3f3f, -1px 0 0 #3f3f3f, -1px 1px 0 #3f3f3f, 0 -1px 0 #3f3f3f, 0 0 0 #3f3f3f, 0 1px 0 #3f3f3f, 1px -1px 0 #3f3f3f, 1px 0 0 #3f3f3f, 1px 1px 0 #3f3f3f;
    -moz-transform: translate3d(0,20px,0);
    -ms-transform: translate3d(0,20px,0);
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
    -moz-transition: -moz-transform .225s cubic-bezier(.65,1.55,.5,1.3) .9s,opacity .1s ease-out .9s;
    -o-transition: -o-transform .225s cubic-bezier(.65,1.55,.5,1.3) .9s,opacity .1s ease-out .9s;
    -webkit-transition: -webkit-transform .225s cubic-bezier(.65,1.55,.5,1.3),opacity .1s ease-out;
    -webkit-transition-delay: .9s,.9s;
    transition: transform .225s cubic-bezier(.65,1.55,.5,1.3) 1.2s,opacity .1s ease-out 1.2s;
}

.my-works .tags ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
    position: relative;
    transform-style: preserve-3d;
}

.my-works .status {
    display: inline-block;
    width: 120px;
    position: absolute;
    top: 21px;
    right: -30px;
    z-index: 11;
    transform: rotate(45deg);
    line-height: 1.5;
    background: #ea0f1e;
    color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .9);
}

.my-works .tags li {
    display: inline-block;
    margin: 5px;
    padding: 0 5px;
    border: 1px solid white;
    color: #fff;
    opacity: 0;
    backface-visibility: hidden;
    transform-origin: 50% 50% -10px;
    transform-style: flat;
    transform: rotateX(92deg);
    transition: transform .285s cubic-bezier(.5,1.5,.5,1.5);
}

.work img {
    width: auto;
    max-width: 100%;
    max-height: 500px;
    margin-bottom: 16px;
}

.work ul {
    margin: 0 0 30px 30px;
}

.work a {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../img/monk.png) center no-repeat;
    background-size: 30px;
    margin: 20px;
}

.work svg {
    width: 100px;
    transition: transform linear .2s;
}

.work a:hover svg {
    transform: rotate3d(-1, 1, 1, -65deg) scale(1.5) ;
}
.work text {
    font-size: 63px;
    text-transform: uppercase;
    letter-spacing: 17px;
    fill: white;
    transform-origin: center;
    animation: rotate linear infinite 15s;
}

/* contacts */
.contacts {
    overflow: hidden;
}

.contacts .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contacts .wrapper::before,
.contacts .wrapper::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -271px;
    margin-top: -191px;
    width: 543px;
    height: 382px;
    background-image: url('../img/light_dots.png');
    background-size: 100%;
    filter: brightness(200%);
    pointer-events: none;
}

.contacts .wrapper::before {
    animation: rotateStar 60s linear infinite alternate;
}

.contacts .wrapper::after {
    animation: reRotateStar 30s linear infinite normal;
}

@keyframes rotateStar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes reRotateStar {
    0% {
        opacity: 1;
        background-size: 80%;
        transform: rotate(-180deg);
    }
    100% {
        opacity: 0;
        background-size: 280%;
        transform: rotate(180deg);
    }
}

.contacts h2 {
    text-align: center;
    margin-top: 77px;
}
@media screen and (max-width: 600px) and (orientation: portrait){
    .contacts h2 {

        margin-right: 100px;
    }
}
.form-block {
    width: 272px;
    min-width: 272px;
    max-width: 272px;
    position: relative;
    margin: 0 0 16px 0;
}

.fld,
.textarea {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: transparent;
    color: white;
    padding: 16px;
}

.textarea {
    min-width: 272px;
    max-width: 272px;
    height: 200px;
}

.lbl {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 16px;
    left: 16px;
    transform-origin: left top;
    pointer-events: none;
    transition: transform ease-in-out .2s,
                opacity ease-in-out .2s,
                top ease-in-out .2s;
}

.fld:focus {
    border: 1px solid rgba(255, 255, 255, 1);
}

[data-form="static"] .lbl,
.fld:focus ~ .lbl,
.fld-complete .lbl,
.fld-focus .lbl {
    transform: scale(0.5);
    opacity: .5;
    top: 7px;
}

.contacts button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
    color: white;
    cursor: pointer;
    font-size: 14px;
    line-height: 45px;
    width: 100%;
    max-width: 272px;
    height: 48px;
    background-color: transparent;
    outline: transparent;
}

.contacts button:before {
    content: '';
    width: 20px;
    height: 20px;
    background: url("../img/send.svg") center/cover no-repeat;
    position: absolute;
    top: 12px;
    right: 15px;
    transform: rotateZ(-45deg) rotateX(25deg) rotateY(15deg);
    transform-origin: center;
    transition: all 0.25s;
}

.contacts button:hover:before {
    border-color: white;
    transform: rotateZ(-55deg) rotateX(5deg) rotateY(15deg);
}

.contacts button:active {
    top: 1px
}

.contacts button .loader,
.contacts button .success,
.contacts button .error {
    display: none;
}

.contacts button.send {
    pointer-events: none;
}

.contacts button.sent span,
.contacts button.error span {
    display: none;
}

.contacts button.sent .success {
    display: inline;
}

.contacts button.error .error {
    display: inline;
}

.contacts button.send span {
    opacity: 0;
    display: none;
}

.contacts button.send:before {
    animation:flyGrid 1s linear;
    transform:translateX(1000px);
}

.contacts button.load .loader {
    display: inline-flex;
    opacity: 1;
    --delay: 1s;
    animation: loader 1s var(--delay) infinite ease-in;
}

.social-links {
    position: fixed;
    top: 45px;
    right: 65px;
}

.social-link {
    position: absolute;
    opacity: 0;
}

.social-link svg {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.social-links.animate .linkedin {
    animation: linkedin-rotate linear .4s forwards;
}

.social-links.animate .github {
    animation: github-rotate .4s linear .4s forwards;
}

.social-links.animate .instagram {
    animation: instagram-rotate .8s linear .4s forwards;
}

.social-links svg:hover {
    animation: social-hover linear 1s infinite;
}

@keyframes linkedin-rotate {
    to {
        transform: translate(-80px, 0) rotate(-1080deg);
        opacity: 1;
    }
}

@keyframes github-rotate {
    to {
        transform: translate(-60px, 60px) rotate(1080deg);
        opacity: 1;
    }
}

@keyframes instagram-rotate {
    to {
        transform: translate(0px, 70px) rotate(1080deg);
        opacity: 1;
    }
}

@keyframes social-hover {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* performances */

.performances {
    height: 100vh;
}

.performances button {
    font-size: 3vw;
}

.report iframe {
    width: calc(100vw - 64px);
}

.mobile-platform .report iframe {
    width: calc(100vw - 32px);
}

.report a {
    display: block;
}

.report .hrefs a:not(:first-child) {
    color: #ea0f1e;
}

.work video {
    width: 100%;
}

.report video::-webkit-media-controls {
    display:none !important;
}

.fadeout {
    animation: fadeOut .4s linear forwards;
}

.fadein {
    animation: fadeIn .4s linear forwards;
}

/* Keyframes */

@keyframes fadeInWithScale {
    from {
        opacity: .5;
        transform: scale(1.1);
    }
    to   {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideText {
    0% {
        opacity: 0;
        top: 30vh
    }
    100% {
        opacity: 1;
        top: 0
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-8px);
    }
}

@keyframes flyGrid{
    0%{ transform:translate3d(0px, 0px, 0px);}
    75%{ transform:translate3d(-200px, 0px, 0px);}
    100%{ transform:translate3d(100px, 0px, 0px);}
}

@keyframes loader {
    0%,
    100% {
        color: red;
        transform: translateY(0);
    }
    50% {
        color: blue;
        transform: translateY(-5px);
    }
}

@keyframes rotate {
    from {
        transform: rotate3d(1, 1, 1, 65deg) rotate(0);
    }
    to {
        transform: rotate3d(1, 1, 1, 65deg) rotate(360deg);
    }
}

@keyframes delay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(3);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}